<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm" >

  <div class="form-group" style="margin-bottom: 15px;">

    <input type="text" class="form-control" placeholder="Nome do usuário" [(ngModel)]="user" name = "user" #userField="ngModel" required >

    <app-message *ngIf="userField.invalid && userField.touched" message="Usuário obrigatório"></app-message>
  </div>

  <div class="form-group" style="margin-bottom: 15px;">

    <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="password" name = "password" #passwordField="ngModel" required>

    <app-message *ngIf="passwordField.invalid && passwordField.touched" message="Senha obrigatório"></app-message>

  </div>

  <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>

</form>

<p style="margin-top: 15px;">Não é um usuário? <a [routerLink]="['novo-usuario']">Cadastre-se agora!</a></p>
